*{
    margin: 0px;
    clear: inherit;
    padding: 0px;

}





.contain{
    
    width: 100%;
    height: 100%;
    margin: 0px auto;
}
.hi{
    display: none;
    opacity: 0;
    width: 0px;
    height: 0px;
}
td{
    padding: 5px !important;
}
th{
    text-align: right;
}

input[type=checkbox], input[type=radio]{
width: 15px !important;
height: 15px !important;
}
.contentplace {
    background: #fff;
}
#hashtraghami{
    margin-top: 14px;
}
#advformid{
    padding-top: 10px;
}
.contentplace{

    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: auto;
    height: auto;
    margin-right: auto;
    font-family: 'BTraffic';
    padding-right: 15px;
    padding-left: 15px;
   
    width: 100%;
    height: 110 px;

    margin-right: auto;

    margin-left: auto;
    box-shadow: 0 1px 6px rgba(0,0,0,.12),0 1px 4px rgba(0,0,0,.24);
}
.fine-inquiry input{

        padding: 0;
    font-size: 16px;
    letter-spacing: normal;
    margin: 26px auto;
    display: block;
    direction: ltr;
    width: 237px;
}



.fine-inquiry input:first-child{
    margin-top: 10px;
}
.titlecontainer{
    text-align: center;
}
.contenttxt{
    font-family: 'BTraffic';
    font-size: 15px;
}
.contentbox{
    margin-top: 25px;
    padding: 5px;
    font-family: 'BTraffic';
    display: inline-block;
	
}
.contenttitle {
    display: inline-block;
    padding: 0 80px 14px;
    margin: 0;
    float: none !important;
    font-size: 18px;
    font-weight: 700;
    font-family: 'BTraffic';
    color: #57b800;
    border-bottom: 1px solid #d2d2d2;
    padding: 10px 15px;

}

.rightside{
    width: 50%;
    float: right;
}

.panel-header{
    padding: 5px;
}

.rightside>img{
    max-height: 370px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    height: auto;
    color: #000;
    direction: rtl;
    line-height: 1.8;
    color: #2c2c2c;
}

.leftside{
    width: 50%;
    float: right;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    color: #000;
    direction: rtl;
    line-height: 1.8;
    color: #2c2c2c;
}


#ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_BatchPaySubmit{
    float: none;
    clear: none;
    display: block;
    margin: 0 auto;
   
    background: #02b1b1;
    color: #fff;
    text-shadow: none;
   
}




.fine-inquiry .buttons>div{
    font-size: 22px;
}

.title-center {
    text-align: center;
}
.title-shape-format{
    color: #2196f3;
    border-bottom: 1px solid #d2d2d2;
    font-size: 18px;
}
div.contentplace.title-center>div {
    font-size:12px;
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    table>tbody>tr>td{
        white-space: nowrap;
    }

}